<%# === 比較画面一覧 === %>
<%# ─── stimulusのコントローラー定義 ─── %>
<div data-controller="compare">

  <%# ─── 比較入力エリア ─── %>
  <div class="grid grid-cols-2 gap-4 relative">

    <%# ─── 商品A（内容量・パック数・価格のフォーム） ─── %>
    <div class="bg-white rounded-2xl px-4 pb-4 pt-2 border border-gray-100 shadow-sm "data-compare-target="cardA">
      <div class="invisible text-center h-7" data-compare-target="badgeA">
        <span class="bg-green text-white text-xs font-bold px-3 py-1 rounded-full">おトク！</span>
      </div>
      <h2 class="text-xl font-bold text-center mb-3">商品A</h2>

      <%= form_with model: @purchase_a, url: new_step1_items_path, method: :get, scope: :purchase_a, class: "space-y-4 text-xs" do |f| %>
        <div>
          <%= f.label :content_quantity, "内容量" ,class: "text-gray-500" %>
          <div class="mt-1 flex items-center border border-gray-200 rounded-lg bg-gray-100 focus-within:border-green focus-within:ring-1 focus-within:ring-green transition">
            <%= f.number_field :content_quantity, placeholder: "例：500", class: "w-full p-2 bg-transparent outline-none text-gray-700 text-sm", data: {compare_target: "contentquantityA", action: "input->compare#calculate"} %>
          </div>
        </div>
        <div>
          <%= f.label :pack_quantity, "パック数", class: "text-gray-500" %>
          <div class="mt-1 flex items-center border border-gray-200 rounded-lg bg-gray-100 focus-within:border-green focus-within:ring-1 focus-within:ring-green transition">
            <%= f.number_field :pack_quantity, placeholder: "例：3", class: "w-full p-2 bg-transparent outline-none text-gray-700 text-sm", data: {compare_target: "packquantityA", action: "input->compare#calculate" } %>
          </div>
        </div>
        <div>
          <%= f.label :price, "価格", class: "text-gray-500" %>
          <div class="mt-1 flex items-center border border-gray-200 rounded-lg bg-gray-100 focus-within:border-green focus-within:ring-1 focus-within:ring-green transition">
            <%= f.number_field :price, placeholder: "例：598", class: "w-full p-2 bg-transparent outline-none text-gray-700 text-sm", data: {compare_target: "priceA", action: "input->compare#calculate" } %>
          </div>
        </div>
        <div class="mt-4 p-4 bg-gray-50 rounded-xl text-center">
          <p class="text-sm text-gray-500">単価（税抜）</p>
          <p class="text-2xl font-bold text-gray-800">
            <span data-compare-target="resultA">---</span>
            <span class="text-sm font-normal">円</span>
          </p>
        </div>
        <div class="mt-4 p-4 flex justify-center">
          <%= f.submit "Aを登録する", class: "text-base w-full p-2 md:px-4 py-3 rounded-full border border-green text-green hover:bg-green hover:text-white"%>
        </div>
      <% end %>
    </div>

    <%# ─── 商品B（内容量・パック数・価格のフォーム） ─── %>
    <div class="bg-white rounded-2xl px-4 pb-4 pt-2 border border-gray-100 shadow-sm " data-compare-target="cardB">
      <div class="invisible text-center h-7" data-compare-target="badgeB">
        <span class="bg-green text-white text-xs font-bold px-3 py-1 rounded-full">おトク！</span>
      </div>
      <h2 class="text-xl font-bold text-center mb-3">商品B</h2>
      <%= form_with model: @purchase_b, url: new_step1_items_path, method: :get, scope: :purchase_b, class: "space-y-4 text-xs" do |f| %>
        <div>
          <%= f.label :content_quantity, "内容量" ,class: "text-gray-500" %>
          <div class="mt-1 flex items-center border border-gray-200 rounded-lg bg-gray-100 focus-within:border-green focus-within:ring-1 focus-within:ring-green transition">
            <%= f.number_field :content_quantity, placeholder: "例：500", class: "w-full p-2 bg-transparent outline-none text-gray-700 text-sm", data: {compare_target: "contentquantityB", action: "input->compare#calculate" } %>
          </div>
        </div>
        <div>
          <%= f.label :pack_quantity, "パック数", class: "text-gray-500" %>
          <div class="mt-1 flex items-center border border-gray-200 rounded-lg bg-gray-100 focus-within:border-green focus-within:ring-1 focus-within:ring-green transition">
            <%= f.number_field :pack_quantity, placeholder: "例：3", class: "w-full p-2 bg-transparent outline-none text-gray-700 text-sm", data: {compare_target: "packquantityB", action: "input->compare#calculate" } %>
          </div>
        </div>
        <div>
          <%= f.label :price, "価格", class: "text-gray-500" %>
          <div class="mt-1 flex items-center border border-gray-200 rounded-lg bg-gray-100 focus-within:border-green focus-within:ring-1 focus-within:ring-green transition">
            <%= f.number_field :price, placeholder: "例：598", class: "w-full p-2 bg-transparent outline-none text-gray-700 text-sm", data: {compare_target: "priceB", action: "input->compare#calculate" } %>
          </div>
        </div>
        <div class="mt-4 p-4 bg-gray-50 rounded-xl text-center">
          <p class="text-sm text-gray-500">単価（税抜）</p>
          <p class="text-2xl font-bold text-gray-800">
            <span data-compare-target="resultB">---</span>
            <span class="text-sm font-normal">円</span>
          </p>
        </div>
        <div class="mt-4 p-4 flex justify-center">
          <%= f.submit "Bを登録する", class: "text-base w-full p-2 md:px-4 py-3 rounded-full border border-green text-green hover:bg-green hover:text-white"%>
        </div>
      <% end %>
    </div>
  </div>
  <%# ─── お得表示（stimulusより計算結果出力時のみ表示） ─── %>
  <div class="mt-4">
    <div class="bg-orange-100 text-orange-600 rounded-xl text-center py-1 rounded-xl font-semibold text-lg invisible h-10" data-compare-target="compareResultItem"></div>
  </div>
</div>
