<!-- ログイン画面 -->
<% content_for :arrow_back do %>
  arrow_back
<% end %>
<div class="flex flex-col md:flex-row items-center justify-center gap-6 p-4"> 
  <div class="bg-white rounded-3xl shadow-xl w-full px-7 py-8">
    <h2 class="text-center text-2xl font-bold text-black mb-6"><%= t("devise.sessions.new.sign_in") %></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-5">
        <%= f.label :email, class: "block text-black text-sm font-semibold mb-2"%>
        <div class="flex items-center border border-light-gray rounded-xl px-3 py-3 bg-white focus-within:border-primary focus-within:ring-1 focus-within:ring-primary transition">
          <span class="material-symbols-outlined text-middle-gray mr-2" style="font-size: 20px;">
            mail
          </span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@email.com", class: "flex-1 outline-none text-black text-sm bg-transparent placeholder-middle-gray" %>
        </div>
      </div>

      <div class="mb-5">
        <%= f.label :password, class: "block text-black text-sm font-semibold mb-2" %>
        <div class="flex items-center border border-light-gray rounded-xl px-3 py-3 bg-white focus-within:border-primary focus-within:ring-1 focus-within:ring-primary transition">
          <span class="material-symbols-outlined text-middle-gray mr-2" style="font-size: 20px;">lock</span>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "••••••••", id: "password-field", class: "flex-1 outline-none text-black text-sm bg-transparent placeholder-middle-gray" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <label class="flex items-center gap-2 text-dark-gray cursor-pointer select-none mb-6">
          <%= f.check_box :remember_me,
              class: "w-4 h-4 rounded border-dark-gray accent-primary cursor-pointer" %>
          <span>ログインを記憶する</span>
        </label>
      <% end %>
      <div class="mb-5">
        <%= f.button :submit, class: "btn flex items-center justify-center w-full bg-primary font-bold text-white text-lg rounded-2xl py-4" do %>
          <%= t("devise.sessions.new.sign_in") %>
          <span class="material-symbols-outlined" style="font-size: 22px;">login</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-4 text-center text-sm text-dark-gray space-y-2">
  <%= render "users/shared/links" %>
</div>
