<!-- ログイン画面 -->
<!-- ヘッダー配色の変更 -->
<% content_for :header_class do %>
  bg-primary text-white
<% end %>
<% content_for :back_path, root_path %>
<div class="flex flex-col md:flex-row items-center justify-center gap-6"> 
  <div class="bg-white rounded-2xl border border-light-gray w-full p-4">
    <h2 class="text-center text-2xl font-bold text-black my-6"><%= t("devise.sessions.new.sign_in") %></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { controller: "loading", action: "submit->loading#show" } }) do |f| %>
      <div class="mb-5">
        <%= f.label :email, class: "block text-black font-semibold mb-2"%>
        <div class="flex items-center border border-light-gray rounded-xl px-3 py-3 bg-white focus-within:border-primary focus-within:ring-1 focus-within:ring-primary transition">
          <span class="material-symbols-outlined text-middle-gray mr-2" style="font-size: 20px;">
            mail
          </span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@email.com", class: "flex-1 outline-none text-black bg-transparent placeholder-middle-gray" %>
        </div>
      </div>

      <div class="mb-10">
        <%= f.label :password, class: "block text-black font-semibold mb-2" %>
        <div class="flex items-center border border-light-gray rounded-xl px-3 py-3 bg-white focus-within:border-primary focus-within:ring-1 focus-within:ring-primary transition">
          <span class="material-symbols-outlined text-middle-gray mr-2" style="font-size: 20px;">lock</span>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "••••••••", id: "password-field", class: "flex-1 outline-none text-black bg-transparent placeholder-middle-gray" %>
        </div>
      </div>

      <!-- 次回自動ログインチェック -->
      <div class="flex justify-center mb-10">
        <% if devise_mapping.rememberable? %>
          <label class="flex items-center gap-2">
            <%= f.check_box :remember_me, class: "w-5 h-5 accent-primary text-center cursor-pointer" %>
            <span class="text-black">次回から自動的にログイン</span>
          </label>
        <% end %>
      </div>
      
      <div class="mb-5 px-2">
        <%= f.button :submit, class: "card w-full bg-primary text-white px-6 py-4 rounded-full flex items-center justify-center font-bold text-xl tracking-widest", data: { controller: "button", action: "touchstart->button#press touchend->button#release touchcancel->button#release" } do %>
          <%= t("devise.sessions.new.sign_in") %>
          <span class="material-symbols-outlined">login</span>
        <% end %>
      </div>
    <% end %>
    <div class="flex items-center gap-4 my-5 mx-2">
      <hr class="flex-1 border-dark-gray">
      <span class="text-dark-gray">または</span>
      <hr class="flex-1 border-dark-gray">
    </div>

    <!-- LINEログイン動線 -->
    <div class="px-2">
      <%= render "users/shared/omniauth_links" %>
    </div>
  </div>
</div>

<!-- 新規登録画面・パスワードリセット 動線  -->
<div class="mt-4 text-center space-y-2">
  <%= render "users/shared/links" %>
</div>
