<!-- 単位（内容量）新規登録 -->
<% content_for :arrow_back do %>
  arrow_back
<% end %>
<% content_for :title do %>
  単位（内容量）登録
<% end %>

<%= form_with model: @content_unit, data: { controller: "loading", action: "submit->loading#show" } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class ="mb-10">
    <%= f.label :name, class: "block text-black font-bold mb-2"%>
    <div class="flex border <%= f.object.errors[:name].any? ? "border-error border-2" : "border-light-gray" %> rounded-xl px-3 py-3 bg-white focus-within:border-primary focus-within:ring-1 focus-within:ring-primary transition">
      <%= f.text_field :name, placeholder: "例：g / ml / 個", autocomplete: "off", class: "flex-auto outline-none text-black bg-transparent placeholder-gray" %>
    </div>
    <%= render "shared/field_error", object: f.object, field: :name %>
  </div>
  <%= f.submit "この内容で登録する", class: "card w-full bg-primary tracking-widest text-white px-6 py-4 rounded-full flex items-center justify-center font-bold no-underline", data: { controller: "button", action: "touchstart->button#press touchend->button#release touchcancel->button#release" } %>
<% end %>