<footer class="fixed bottom-0 left-0 w-full bg-white border-t border-light-gray z-30">
  <nav class="flex justify-around items-center h-20 pb-3 max-w-xl mx-auto">
    
    <!--「商品一覧画面」に遷移する内容 -->
    <%= link_to items_path, class: "flex flex-col items-center #{active_class('items', 'purchases')}" do %>
      <span class="material-symbols-outlined">list_alt</span>
      <span class="text-xs mt-1"><%= t('footer.index') %></span>
    <% end %>

    <!-- 「商品登録画面」に遷移する内容 -->
    <%= link_to new_item_registration_path, class: "flex flex-col items-center #{active_class('item_registrations')}" do %>
      <span class="material-symbols-outlined text-28">add_2</span>
      <span class="text-xs mt-1"><%= t('footer.item_registration') %></span>
    <% end %>

    <!--「商品比較画面」に遷移する内容 -->
    <%= link_to comparison_path, class: "flex flex-col items-center #{active_class('comparison')}" do %>
      <span class="material-symbols-outlined text-28">balance</span>
      <span class="text-xs mt-1"><%= t('footer.comparison') %></span>
    <% end %>

    
    <!--「設定画面」に遷移する内容 -->
    <%= link_to setting_path, class: "flex flex-col items-center #{active_class('setting', 'categories', 'content_units', 'privacy_policy', 'stores', 'terms', 'registrations')}" do %>
      <span class="material-symbols-outlined text-28">settings</span>
      <span class="text-xs mt-1"> <%= t('footer.setting') %></span>
    <% end %>

  </nav>
</footer>
