<% content_for :title do %>
  底値商品一覧
<% end %>
<div class="space-y-4">
    <% @items.each do |item| %>
      <% cheapest_purchase = item.purchases.min_by { |p| p.unit_price } %>
      <%= link_to item_path(item), class: "block bg-white rounded-2xl p-5 shadow-md border border-gray-100 no-underline active:bg-gray-50 transition-colors" do %>
        <!-- 店舗名 -->
        <div class="flex items-center gap-2 bg-gray-100 rounded-full px-3 py-1 w-auto inline-flex mb-2">
          <span class="material-symbols-outlined text-gray-500" style="font-size: 16px;">storefront</span>
          <% if cheapest_purchase %>
            <span class="text-sm text-gray-600"><%= cheapest_purchase.store.name %></span>
          <% end %>
        </div>
      <%# 商品名 %>
      <h2 class="text-xl font-bold text-black mb-3">
        <%= item.name %>
      </h2>
      <hr class="my-2 border-0.5 border-gray-200 mb-4"></hr>
      <div class="flex items-end justify-between">
        <div>
          <p class="text-xs text-gray-400">最安単価</p>
          <p class="text-sm text-gray-600">
          1<% if cheapest_purchase&.content_unit.present? %><%=cheapest_purchase.content_unit %><% else %>単位<% end %>
          あたり：<span class="text-green font-bold text-2xl">
            <% if cheapest_purchase&.unit_price.present? %>
              <%= cheapest_purchase.unit_price %></span>
              <span class="text-gray-600 text-sm">円</span>
            <% else %>
              <span class="text-gray-600 text-lg">未登録</span>
            <% end %>
          </p>
        </div>
        <div class="text-right">
          <% if cheapest_purchase %>
            <%# ラベル行 %>
            <div class="flex justify-end gap-3 text-[10px] text-gray-400 mb-0.5">
              <span class="w-30">内容量</span>
              <span class="w-12">価格</span>
            </div>
            <%# 数値行 %>
            <div class="flex justify-end gap-3 text-sm text-gray-700">
              <span class="w-30 font-medium"><%= cheapest_purchase.pack_quantity %><%= cheapest_purchase.pack_unit %>×<%= cheapest_purchase.content_quantity %><%= cheapest_purchase.content_unit %></span>
              <span class="w-12 font-medium">¥<%= cheapest_purchase.price %></span>
            </div>
          <% else %>
            <p class="text-xs text-gray-400">未登録</p>
          <% end %>
        </div>
      </div>

    <% end %>
  <% end %>

  <%# 商品登録ボタン（FAB） %>
  <div class="fixed bottom-28 left-0 right-0 mx-auto max-w-xl px-6 flex justify-end">
    <%= link_to new_step1_items_path, class: "bg-[#6abf3b] text-white px-6 py-4 rounded-full shadow-lg flex items-center justify-center font-bold no-underline hover:opacity-90 transition-opacity" do %>
      <span class="text-lg">商品登録</span>
      <span class="material-symbols-outlined">add</span>
    <% end %>
</div>
