<h1 class= "text-xl mb-6">その他情報の登録</h1>
<%= render 'shared/error_messages', object: @form %>
<div class= "bg-white rounded-xl p-4 shadow mb-6 ">
  <div class="flex items-center justify-between border-b border-gray-100 pb-2 mb-4">
    <h2 class="font-bold text-dark-gray flex items-center gap-2">入力済みの情報</h2>
  </div>
  <div class="space-y-3 text-sm">
    <div class="flex justify-between">
      <span class="text-gray-500">商品名</span>
      <span class="font-semibold text-gray-900"><%= @step1_data["item_name"] %></span>
    </div>
    <div class="flex justify-between">
      <span class="text-gray-500">カテゴリ</span>
      <span class="font-semibold text-gray-900"><%= @step1_data["category_name"] %></span>
    </div>
    <div class="flex justify-between">
      <span class="text-gray-500">価格</span>
      <span class="font-semibold text-gray-900">
        ¥<%= @step1_data["price"] %>
        <% if @step1_data["tax_rate"].to_i == 0 %>
          （税抜）
        <% else %>
          （税込<%= @step1_data["tax_rate"] %>%）
        <% end %>
      </span>
    </div>
    <div class="flex justify-between">
      <span class="text-gray-500">内容量 / 個数</span>
      <span class="font-semibold text-gray-900">
        <%= @step1_data["content_quantity"] %> / <%= @step1_data["pack_quantity"] %>
      </span>
    </div>
  </div>
</div>

<%= form_with model: @form, url: items_path, method: :post, scope: :item_new_step2 do |f| %>
  <div class ="flex flex-col gap-1 mb-6">
    <%= f.label :brand, "メーカー名", class: "text-sm" %>
    <%= f.text_field :brand, placeholder: "メーカー・ブランド名を入力", autocomplete: "off", class: "w-full p-3 bg-white border border-dark-gray rounded-lg focus:outline-none focus:ring-2 focus:ring-green placeholder-dark-gray" %>
  </div>
  <div class ="flex flex-col gap-1 mb-6">
    <%= f.label :store, "店舗名", class: "text-sm" %>
    <%= f.text_field :store, placeholder: "例：〇〇スーパー〇〇店", autocomplete: "off", class: "w-full p-3 bg-white border border-dark-gray rounded-lg focus:outline-none focus:ring-2 focus:ring-green placeholder-dark-gray"%>
  </div>
  <div class ="flex flex-col gap-1 mb-6">
    <%= f.label :content_unit, "単位／内容量", class: "text-sm" %>
    <%= f.text_field :content_unit, placeholder: "例：ml", autocomplete: "off", class: "w-full p-3 bg-white border border-dark-gray rounded-lg focus:outline-none focus:ring-2 focus:ring-green placeholder-dark-gray"%>
  </div>
  <div class ="flex flex-col gap-1 mb-6">
    <%= f.label :pack_unit, "単位／パック数", class: "text-sm" %>
    <%= f.text_field :pack_unit, placeholder: "本,箱", autocomplete: "off", class: "w-full p-3 bg-white border border-dark-gray rounded-lg focus:outline-none focus:ring-2 focus:ring-green placeholder-dark-gray"%>
  </div>
    <%= f.label :purchased_on, "登録日", class: "text-sm" %>
    <%= f.date_field :purchased_on, value: Date.today, class: "w-full p-3 bg-white border border-dark-gray rounded-lg focus:outline-none focus:ring-2 focus:ring-green placeholder-dark-gray"%>
  <div>
  <div class="fixed right-6 bottom-28">
    <%= f.submit "この内容で登録する", class: "bg-green text-white px-6 py-4 rounded-full shadow-lg flex items-center justify-center font-bold no-underline hover:opacity-90 transition-opacity" do %> %>
    <% end %>
  </div>
<% end %>
