<!-- 商品新規登録画面 2-2 -->
<%= render 'shared/error_messages', object: @form %>
<div class= "bg-white rounded-xl p-4 shadow mb-6 ">
  <div class="flex items-center justify-between border-b border-gray-100 pb-2 mb-4">
    <h2 class="font-bold text-dark-gray flex items-center gap-2">入力済みの情報</h2>
  </div>
  <div class="space-y-3 text-sm">
    <div class="flex justify-between">
      <span class="text-gray-500">商品名</span>
      <span class="font-semibold text-gray-900"><%= @step1_data["item_name"] %></span>
    </div>
    <div class="flex justify-between">
      <span class="text-gray-500">カテゴリ</span>
      <span class="font-semibold text-gray-900"><%= @step1_data["category_name"] %></span>
    </div>
    <div class="flex justify-between">
      <span class="text-gray-500">価格</span>
      <span class="font-semibold text-gray-900">
        ¥<%= @step1_data["price"] %>
        <% if @step1_data["tax_rate"].to_i == 0 %>
          （税抜）
        <% else %>
          （税込<%= @step1_data["tax_rate"] %>%）
        <% end %>
      </span>
    </div>
    <div class="flex justify-between">
      <span class="text-gray-500">内容量 / 個数</span>
      <span class="font-semibold text-gray-900">
        <%= @step1_data["content_quantity"] %> / <%= @step1_data["pack_quantity"] %>
      </span>
    </div>
  </div>
</div>

<div class"flex flex-col md:flex-row items-center justify-center gap-6 p-4">
  <div class="bg-white rounded-3xl shadow-xl w-full px-7 py-8">
  <h1 class= "text-center text-2xl font-bold text-gray-800 mb-6">その他情報の登録</h1>

  <%= form_with model: @form, url: items_path, method: :post, scope: :item_new_step2 do |f| %>

    <div class ="mb-5">
      <%= f.label :brand, "メーカー名", class: "block text-gray-700 text-sm font-semibold mb-2" %>
      <div class="flex items-center border border-gray-200 rounded-xl px-3 py-3 bg-white focus-within:border-[#6abf3b] focus-within:ring-1 focus-within:ring-[#6abf3b] transition">
        <%= f.text_field :brand, placeholder: "例：伊藤園 / アタック", autofocus: true, autocomplete: "off", class: "flex-1 outline-none text-gray-700 text-sm bg-transparent placeholder-gray-400" %>
      </div>
    </div>

    <div class ="mb-5">
      <%= f.label :store, "店舗名", class: "block text-gray-700 text-sm font-semibold mb-2" %>
      <div class="flex items-center border border-gray-200 rounded-xl px-3 py-3 bg-white focus-within:border-[#6abf3b] focus-within:ring-1 focus-within:ring-[#6abf3b] transition">
        <%= f.text_field :store, placeholder: "例：〇〇スーパー〇〇店 / 〇〇薬局", autocomplete: "off", class: "flex-1 outline-none text-gray-700 text-sm bg-transparent placeholder-gray-400"%>
      </div>
    </div>
    <div class ="mb-5">
      <%= f.label :content_unit, "単位／内容量", class: "block text-gray-700 text-sm font-semibold mb-2" %>
      <div class="flex items-center border border-gray-200 rounded-xl px-3 py-3 bg-white focus-within:border-[#6abf3b] focus-within:ring-1 focus-within:ring-[#6abf3b] transition">
        <%= f.text_field :content_unit, placeholder: "例：ml、g、枚、本 など", autocomplete: "off", class: "flex-1 outline-none text-gray-700 text-sm bg-transparent placeholder-gray-400"%>
      </div>
    </div>
    <div class ="mb-5">
      <%= f.label :pack_unit, "単位／パック数", class: "block text-gray-700 text-sm font-semibold mb-2" %>
      <div class="flex items-center border border-gray-200 rounded-xl px-3 py-3 bg-white focus-within:border-[#6abf3b] focus-within:ring-1 focus-within:ring-[#6abf3b] transition">
        <%= f.text_field :pack_unit, placeholder: "パック、箱、袋 など", autocomplete: "off", class: "flex-1 outline-none text-gray-700 text-sm bg-transparent placeholder-gray-400"%>
      </div>
    </div>
    <div class ="mb-5">
      <%= f.label :purchased_on, "登録日", class: "block text-gray-700 text-sm font-semibold mb-2" %>
      <div class="flex items-center border border-gray-200 rounded-xl px-3 py-3 bg-white focus-within:border-[#6abf3b] focus-within:ring-1 focus-within:ring-[#6abf3b] transition">
        <%= f.date_field :purchased_on, value: Date.today, class: "flex-1 outline-none text-gray-700 text-sm bg-transparent placeholder-gray-400"%>
      </div>
    <div>
    <div class="fixed bottom-28 left-0 right-0 mx-auto max-w-xl px-6 flex justify-end">
      <%= f.submit "この内容で登録する", class: "bg-[#6abf3b] text-white px-6 py-4 rounded-full shadow-lg flex items-center justify-center font-bold no-underline hover:opacity-90 transition-opacity cursor-pointer" do %>
      <% end %>
    </div>
  <% end %>
</div>
