<main class ="pl-4 pt-20"> 
  <h1>今までの<%= @item.name %>の購入履歴</h1>
  <% @purchases.each do |purchase| %>
    <div class= "bg-white mb-4 ">
      <span><%= purchase.purchased_on %></span>
      <span><%= purchase.store.name %></span>
      <span><%= purchase.content_unit %></span>
      <span><%= purchase.pack_unit %></span>
      <span><%= purchase.price %></span>
      <span>税<%= purchase.tax_rate %></span>
      <span>1<%= purchase.content_unit %>あたり</span>
      <span><%= purchase.unit_price %>円</span>
      <%= link_to edit_purchase_path(purchase) do %>
        <span>編集</span>
      <% end %>
      <%= link_to purchase_path(purchase), data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
        <span>削除</span>
      <% end %>
    </div>
  <% end %>
</main>
