<!-- パスワードリセット画面 -->
<!-- ヘッダー配色の変更 -->
<% content_for :header_class do %>
  bg-primary text-white
<% end %>

<div class="flex flex-col md:flex-row items-center justify-center gap-6">
  <div class="bg-white rounded-2xl border border-light-gray w-full p-4">
    <h2 class="text-center text-2xl font-bold text-black mb-6"><%= t("devise.passwords.edit.change_your_password") %></h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="mb-5">
        <div class="flex items-center gap-1 mb-2">
          <%= f.label :password, class: "block text-black font-semibold"%>
          <% if @minimum_password_length %>
            <span class="text-black font-semibold">
              （<%= @minimum_password_length %>文字以上）
            </span>
          <% end %>
        </div>
        <div class="flex items-center border border-light-gray rounded-xl px-3 py-3 bg-white focus-within:border-primary focus-within:ring-1 focus-within:ring-primary transition">
          <span class="material-symbols-outlined text-middle-gray mr-2" style="font-size: 20px;">lock</span>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "••••••••", class: "flex-1 outline-none text-gray-700 bg-transparent placeholder-gray-400" %>
        </div>
      </div>

      <div class="mb-10">
        <%= f.label :password_confirmation, class: "block text-black font-semibold mb-2" %>
        <div class="flex items-center border border-light-gray rounded-xl px-3 py-3 bg-white focus-within:border-primary focus-within:ring-1 focus-within:ring-primary transition">
          <span class="material-symbols-outlined text-middle-gray mr-2" style="font-size: 20px;">lock</span>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "••••••••", class: "flex-1 outline-none text-gray-700 bg-transparent placeholder-gray-400" %>
        </div>
      </div>

      <div class="mb-10 px-2">
        <%= f.button :submit, class: "card w-full bg-primary text-white px-6 py-4 rounded-full flex items-center justify-center font-bold text-xl tracking-widest", data: { controller: "button", action: "touchstart->button#press touchend->button#release touchcancel->button#release" } do %>
          <%= t("devise.passwords.edit.change_my_password") %>
          <span class="material-symbols-outlined">lock_reset</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- ログイン画面移行動線 -->
<div class="mt-4 text-center">
  <%= link_to "ログイン画面に戻る", new_session_path(resource_name), class: "block mt-6 font-bold link text-primary whitespace-nowrap" %>
</div>

