<!DOCTYPE html>
<html>
  <head>
    <!-- タイトルバーの自動切り替え -->
    <title><%= content_for(:title) || "SokoNote" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google Analytics（GA4）の導入 -->
    <!-- Google tag (gtag.js) -->
    <% if ENV['GA_TRACKING_ID'].present? %>
      <meta name="ga-tracking-id" content="<%= ENV['GA_TRACKING_ID'] %>">
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA_TRACKING_ID'] %>"></script>
    <% end %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- Googleアイコンの取得 （全アイコンを取得してしまっているため要検討）-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <!-- Sentry（エラー監視ツール）のフロントとバックの処理を繋ぐためのタグ -->
    <%= Sentry.get_trace_propagation_meta.html_safe if defined?(Sentry) %>
    <%= render 'shared/favicon' %>
  </head>

  <body class="bg-neutral max-w-4xl mx-auto">
    <%= render 'shared/header' %>
    <main class= "px-4 pt-20 pb-50">
      <% flash.each do |message_type, message| %>
        <% bg_color = case message_type.to_sym
                      when :success, :notice
                        "bg-flash-success-bg text-flash-success-text"
                      else
                        "bg-flash-error-bg text-flash-error-text"
                      end
        %>
        <div class="mx-4 mt-4 rounded-lg border p-4 mb-4 text-sm font-bold <%= bg_color %>">
          <%= simple_format(message) %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <% if user_signed_in? %>
    <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
