<!-- アカウント登録画面 -->
<!-- ヘッダー配色の変更 -->
<% content_for :header_class do %>
  bg-primary text-white
<% end %>
<% content_for :arrow_back do %>
  arrow_back
<% end %>

<%= render "users/shared/error_messages", resource: resource, message: "アカウントの登録に失敗しました" %>
<div class="flex flex-col md:flex-row items-center justify-center gap-6">
  <div class="bg-white rounded-2xl border border-light-gray w-full p-4">
    <h2 class="text-center text-2xl font-bold text-black my-6"><%= t("devise.registrations.new.sign_up") %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { controller: "loading", action: "submit->loading#show" } }) do |f| %>

      <div class="mb-5">
        <%= f.label :name, class: "block text-black font-semibold mb-2"%>
        <div class="flex items-center border <%= f.object.errors[:name].any? ? "border-error border-2" : "border-light-gray" %> rounded-xl px-3 py-3 bg-white focus-within:border-primary focus-within:ring-1 focus-within:ring-primary transition">
          <span class="material-symbols-outlined text-middle-gray mr-2" style="font-size: 20px;">
            account_circle
          </span>
          <%= f.text_field :name, autofocus: true, placeholder: "お名前", class: "flex-1 outline-none text-black bg-transparent placeholder-gray-400"%>
        </div>
        <%= render "shared/field_error", object: f.object, field: :name %>
      </div>

      <div class="mb-5">
        <%= f.label :email, class: "block text-black font-semibold mb-2"%>
        <div class="flex items-center border <%= f.object.errors[:email].any? ? "border-error border-2" : "border-light-gray" %> rounded-xl px-3 py-3 bg-white focus-within:border-primary focus-within:ring-1 focus-within:ring-primary transition">
          <span class="material-symbols-outlined text-middle-gray mr-2" style="font-size: 20px;">
            mail
          </span>
          <%= f.email_field :email, placeholder: "example@email.com", class: "flex-1 outline-none text-black bg-transparent placeholder-gray-400" %>
        </div>
        <%= render "shared/field_error", object: f.object, field: :email %>
      </div>

      <div class="mb-5">
        <div class="flex items-center gap-1 mb-2">
          <%= f.label :password, class: "block text-black font-semibold" %>
          <% if @minimum_password_length %>
            <span class="text-black font-semibold">
              （<%= @minimum_password_length %>文字以上）
            </span>
          <% end %>
        </div>
        <div class="flex items-center border <%= f.object.errors[:password].any? ? "border-error border-2" : "border-light-gray" %> rounded-xl px-3 py-3 bg-white focus-within:border-primary focus-within:ring-1 focus-within:ring-primary transition">
          <span class="material-symbols-outlined text-middle-gray mr-2" style="font-size: 20px;">lock</span>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "••••••••", class: "flex-1 outline-none text-gray-700 bg-transparent placeholder-gray-400" %>
        </div>
        <%= render "shared/field_error", object: f.object, field: :password %>
      </div>

      <div class="mb-10">
        <%= f.label :password_confirmation, class: "block text-black font-semibold mb-2" %>
        <div class="flex items-center border <%= f.object.errors[:password_confirmation].any? ? "border-error border-2" : "border-light-gray" %> rounded-xl px-3 py-3 bg-white focus-within:border-primary focus-within:ring-1 focus-within:ring-primary transition">
          <span class="material-symbols-outlined text-middle-gray mr-2" style="font-size: 20px;">lock</span>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "••••••••", class: "flex-1 outline-none text-gray-700 bg-transparent placeholder-gray-400" %>
        </div>
        <%= render "shared/field_error", object: f.object, field: :password_confirmation %>
      </div>

      <!-- 利用規約・プライバシーポリシー同意チェック -->
      <div class="flex justify-center mb-10">
        <label class="flex items-center gap-2">
          <%= check_box_tag :agreement, nil, nil, required: true, class: "w-5 h-5 accent-primary text-center cursor-pointer" %>
          <span class="text-black">
            <%= link_to "利用規約", terms_path, class: "font-bold link text-primary whitespace-nowrap", target: "_blank", rel: "noopener noreferrer" %> と
            <%= link_to "プライバシーポリシー", privacy_policy_path, class: "font-bold link text-primary whitespace-nowrap", target: "_blank", rel: "noopener noreferrer" %>
            に同意します
          </span>
        </label>
      </div>

      <div class="mb-5 px-2">
        <%= f.button :submit, class: "card w-full bg-primary text-white px-6 py-4 rounded-full flex items-center justify-center font-bold text-xl tracking-widest", data: { controller: "button", action: "touchstart->button#press touchend->button#release touchcancel->button#release" } do %>
          <%= t("devise.registrations.new.sign_up") %>
          <span class="material-symbols-outlined">login</span>
        <% end %>
      </div>
    <% end %>
    <div class="flex items-center gap-4 my-5 mx-2">
      <hr class="flex-1 border-dark-gray">
      <span class="text-dark-gray">または</span>
      <hr class="flex-1 border-dark-gray">
    </div>

    <!-- LINE新規登録動線 -->
    <div class="px-2">
      <%= render "users/shared/omniauth_links" %>
    </div>
  </div>
</div>

<!-- ログイン画面移行動線 -->
<div class="mt-4 text-center">
  <%= render "users/shared/links" %>
</div>

